.idea
node_modules
*.log
.DS_Store
/dist
/full
/preact.js
/preact.js.map
/react.js
/react.js.map
/utils.js
/utils.d.ts
/utils.js.map
/picodom.js
/picodom.js.map
.rpt2_cache
.rts2_cache_cjs
.rts2_cache_es
.rts2_cache_umd